doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title

    link(rel="stylesheet", href="/style.css")
    link(rel='stylesheet', href='/chat-list.css')

    script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" referrerpolicy="no-referrer")
  body
    include ./flash.pug
    script.
      const userID = !{JSON.stringify(userID)};

    header.header
      span.username #{username}
      .left  
        .search-box
          input.search-input(type='text', name='search_contacts', placeholder='Search contacts')
        nav 
          #vertical_dots
            .dot
            .dot
            .dot
        
          ul.menu 
            li 
              a(href="/chat-list/logout") Logout 
              label(for="profilePic") Change profile pic
              input(type="file", name="profilePic", id="profilePic")

    #wrapper 
      section.chats 
        if data.length <= 0
          p.no_contact_msg You don't have any recent chats 
        else 
          each datum in data 
            a(href=`/chat/${datum.otherParticipantID}&&&${datum.id}` class="chat")
              img.profile-pic(src=datum.profilePic, alt='Profile Picture')
              .chat-details 
                h3.username #{datum.otherParticipantUsername}
                p.message-preview #{datum.lastMessage}
              .chat-meta 
                P.time #{datum.timeLastMessage}
                if datum.unreadMessages > 0
                  span.unread-counter #{datum.unreadMessages}
        
      #new_chat
        p +

    script(src="/chat-list.js") 
